/* nav::before {
  content: "";
  background-color: #3a3c45;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
} */
/* #toggelebtn {
  width: 47px;
  height: 34px;
  background-color: #3a3c45;
  border: none;
} */
/* .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 2px;
} */
